[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"html2text" = "*"
aiogram = "*"
prettyconf = "*"
belogging = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.7"
